*{
    margin: 0;
}

.image{
 width: 3vw;
 height: 6vh;
 margin-right: 12px;
 border-radius: 3px;
}

.header{
    display: flex;
    background-color: rgba(191, 219, 254, 1);
    padding: 1rem 1.25rem;
}

.htag{
    color: #f7fafc;
    font-size: 2.25rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.ultag{
    list-style: none;
    display: grid;
    margin-left: -2.5em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 2rem;  
}

li{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 0.5rem 2rem;
}


.icons{
    font-size: x-large;
    margin-bottom: -5px;
    margin-right: 14px;
  }

  